<div class="container">
  <div class="header">
    <h1>Pumpkin Panic Planner</h1>
    <button (click)="saveToUrl()">Copy To Clipboard</button>
    <button (click)="showExample()">Show Example</button>
    <button (click)="resetForm()">Reset</button>
  </div>

  <form [formGroup]="form" class="form">
    <div class="wrapper">
      <div class="action-line">
        <div></div>
        <div class="category">
          Harvests
        </div>
        <div></div>
        <div class="category">
          Upgrades
        </div>
        <div></div>
        <div class="category">
          Consumables
        </div>
        <div></div>
        <div class="category">
          Loot
        </div>
        <div></div>
        <div class="category">
          Stats
        </div>
      </div>
      <div class="action-line">
        <div class="action-prefix"></div>
        <div class="harvests">
          <div class="action-cell">White</div>
          <div class="action-cell">Red</div>
          <div class="action-cell">Green</div>
          <div class="action-cell">Orange</div>
          <div class="action-cell">Purple</div>
        </div>
        <div></div>
        <div class="purchases">
          <div class="action-cell">Bucket</div>
          <div class="action-cell">Well</div>
          <div class="action-cell">Boots</div>
          <div class="action-cell">Coins</div>
          <div class="action-cell">Bag</div>
        </div>
        <div></div>
        <div class="purchases">
          <div class="action-cell">Red</div>
          <div class="action-cell">Green</div>
          <div class="action-cell">Orange</div>
          <div class="action-cell">Purple</div>
          <div class="action-cell">Gears</div>
        </div>
        <div></div>
        <div class="sum">
          Loot
        </div>
        <div></div>
        <div class="sum">
          Money
        </div>
      </div>
    </div>
    <div formArrayName="calculator" class="wrapper">
      <div *ngFor="let actionLine of form.controls.calculator.controls; let i=index" [formGroupName]="i"
        class="action-line">
        <label for="action-{{ i }}" class="action-prefix">{{(i + 1) + "."}}</label>
        <div formGroupName="harvests" class="harvests">
          <input type="text" formControlName="white" class="action-input action-cell" />
          <input type="text" formControlName="red" class="action-input action-cell" />
          <input type="text" formControlName="green" class="action-input action-cell" />
          <input type="text" formControlName="orange" class="action-input action-cell" />
          <input type="text" formControlName="purple" class="action-input action-cell" />
        </div>
        <div></div>
        <div formGroupName="upgrades" class="purchases">
          <input type="text" formControlName="bucket" class="action-input action-cell" />
          <input type="text" formControlName="well" class="action-input action-cell" />
          <input type="text" formControlName="boots" class="action-input action-cell" />
          <input type="text" formControlName="coins" class="action-input action-cell" />
          <input type="text" formControlName="bag" class="action-input action-cell" />
        </div>
        <div></div>
        <div formGroupName="upgrades" class="purchases">
          <input type="text" formControlName="red" class="action-input action-cell" />
          <input type="text" formControlName="green" class="action-input action-cell" />
          <input type="text" formControlName="orange" class="action-input action-cell" />
          <input type="text" formControlName="purple" class="action-input action-cell" />
          <input type="text" formControlName="gear" class="action-input action-cell" />
        </div>
        <div></div>
        <div formGroupName="loot" class="loot">
          <input type="text" formControlName="lootValue" class="action-input action-cell" />
        </div>
        <div></div>
        <div class="sum">
          {{state[i].money}}
        </div>
      </div>
    </div>
  </form>

  <div class="section-container">
    <h2>Prices</h2>
    <div class="price-wrapper">
      <div *ngFor="let itemPrices of priceArray" class="price-line">
        <div class="header">{{itemPrices[0]}}</div>
        <div *ngFor="let price of itemPrices[1]">{{price}}</div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <h2>Probability Calculator</h2>
    <form [formGroup]="probabilityForm">
      <div class="probability-line">
        <span class="header">Number of Items Looted</span>
        <span class="header">Minimum money to get from loot</span>
        <span class="header">Probability</span>
        <input type="text" formControlName="numberOfItems" />
        <input type="text" formControlName="valueGreaterThan" />
        <div>{{probabilityCalculating ? "Calculating..." : (probability$ | async) | percent: '1.0-10'}}</div>
      </div>
      <div class="note">Note: These calculations are based on estimated values and currently only allow item-counts up
        to 16, which is already very slow.</div>
    </form>
  </div>
</div>